* {
  width: 100%;
}

.container {
  width: 90vw;
  padding: 1vw 5vw;
  display: flex;
  flex-direction: column;
}

.container-text {
  display: flex;
  justify-content: space-around;
}

h2,
h3 {
  margin: 0;
  font-size: 2.5vw;
  text-align: center;
}

h3 {
  font-size: 1.5vw;
}

.container-image {
  max-width: 60%;
  width: auto;
  margin: auto;
  max-height: 70vh;
  margin-top: 1vh;
}
